body{
  margin-top:50px;
  background-image: url('../img/cheap_diagonal_fabric.png');
  background-repeat: repeat;
}

.voteArea
{
  text-align: center;
}

.panel
{
  border: 1px solid rgba(0,0,0,.05)
}
