html, body { min-height: 100%; }

body{
  margin-top:50px;
  background-image: url('../img/cheap_diagonal_fabric.png');
  background-repeat: repeat;

}

.voteArea
{
  text-align: center;
}

.panel
{
  border: 1px solid rgba(0,0,0,.05)
}

#login-header{
  text-align: center;

}
.login-form{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.Personal-info-header{
  text-align: center;

}
